html,body{
    height: 100%;
}

body{
    background: url("https://images.unsplash.com/photo-1644525630255-0b182407fe64?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover no-repeat;
}

.glass{
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
}

.card{
    background: transparent !important;
}